body {
  font-family: Arial;
  margin: 0;
}


@media screen and (min-width: 900px) {

  .barra-de-progresso {
    margin-top:8px;
    margin-bottom: 20px;
    border-radius: 100px;
    height: 10px;
    background-color: #c7d1d0;
  }

  .barra-de-progresso-interior {
    border-radius: 100px;
    background-color: #071e22;
    height: 10px;
  }

}

@media screen and (max-width:899px) {

  .barra-de-progresso {
    margin-top:5px;
    margin-bottom: 20px;
    border-radius: 100px;
    height: 7px;
    background-color: #c7d1d0;
  }

  .barra-de-progresso-interior {
    border-radius: 100px;
    background-color: #071e22;
    height: 7px;
  }

}


/* HABILIDADES */

.habilidades-container {
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-radius: 30px;
  background: #f0faff;
  margin: auto;
}

.habilidades-container:hover {
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.5);
}


/* CARD */
.card {
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  border-radius: 30px;
  background: #f0faff;
  color: black;
  margin: auto;
}

.card:hover {
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.5);
}

.avatar {
  border-radius: 30px;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.header {
  transition: 0.3s;
  height: 130px;
  padding: 50px;
  background: #071e22;
  color: white;
  font-size: 20px;
}

.column {
  float: left;
}

.coluna {
  float: left;
}

@font-face {
  font-family: Nunito;
  src: url('fonts/Nunito-Light.ttf');
}

.titulo {
  width: 100%;
  float: left;
  color: #071e22;
  font-family: Nunito;
}

.subtitulo {
  width: 100%;

  color: #071e22;
  font-family: Nunito;
}

.caixa-texto {
  width: 100%;
  float: left;
  color: #071e22;
  font-family: Nunito;
}


/* +1400 */
@media screen and (min-width: 1400px) {

  .habilidades-container {
    margin-top: 190px;
    width: 900px;
    height: 360px;
  }

  .card {
    width: 900px;
    height: 360px;
  }
  .titulo {
    font-size: 45px;
  }
  .subtitulo {
    font-size: 20px;
  }
  .caixa-texto {
    font-size: 20px;
  }
  .icon {
    width: 15px;
  }
  .avatar {
    float: right;
    width: 360px;
    height: 360px;
  }
  .column {
    padding-left: 40px;
    padding-top: 70px;
    width: 40%;
  }
  .coluna {
    padding-left: 50px;
    padding-top: 40px;
    width: 40%;
  }
  .header {
    height: 130px;
  }
}

/* 900 - 1400 */
@media screen and (min-width: 900px) and (max-width: 1399px) {

  .habilidades-container {
    margin-top: 150px;
    width: 800px;
    height: 330px;
  }


  .card {
    width: 800px;
    height: 300px;
  }
  .titulo {
    font-size: 40px;
  }
  .subtitulo {
    fontsize: 20px;
  }
  .caixa-texto {
    font-size: 20px;
  }
  .icon {
    width: 15px;
  }
  .avatar {
    float: right;
    width: 300px;
    height: 300px;
  }
  .column {
    padding-left: 40px;
    padding-top: 60px;
    width: 40%;
  }
  .coluna {
    padding-left: 50px;
    padding-top: 40px;
    width: 40%;
  }
  .header {
    height: 100px;
  }
}

/* 700 - 900 */
@media screen and (min-width: 700px) and (max-width: 899px) {

  .habilidades-container {
    margin-top: 120px;
    width: 95%;
    height: 270px;
  }

  .card {
    width: 95%;
    height: 250px;
  }
  .titulo {
    font-size: 30px;
  }
  .subtitulo {
    fontsize: 20px;
  }
  .caixa-texto {
    font-size: 15px;
  }
  .icon {
    width: 10px;
  }
  .avatar {
    float: right;
    width: 250px;
    height: 250px;
  }
  .column {
    padding-left: 40px;
    padding-top: 40px;
    width: 40%;
  }
  .coluna {
    padding-left: 50px;
    padding-top: 20px;
    width: 40%;
  }
  .header {
    height: 75px;
  }
}

/* 0 - 700 */
@media screen and (max-width: 699px) {

  .habilidades-container {
    margin-top: 380px;
    width: 300px;
    height: 500px;
  }

  .card {
    width: 300px;
    height: 530px;
  }
  .titulo {
    font-size: 30px;
  }
  .subtitulo {
    fontsize: 20px;
  }
  .caixa-texto {
    font-size: 15px;
  }
  .icon {
    width: 10px;
  }
  .avatar {
    float: right;
    width: 300px;
  }
  .column {
    padding-left: 30px;
    padding-top: 30px;
    width: 80%;
  }
  .coluna {
    padding-left: 30px;
    padding-top: 30px;
    width: 80%;
  }
  .header {
    height: 100px;
  }
}
